<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='Profile.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='Profile.js') }}" > </script>

    <title>팀원 소개 페이지_<이상우></title>
</head>
<script>
    $(document).ready(function () {
        show_commentsSW();
    });
</script>
<body>
    <div class="mytitle">
        <h1 class="display-1">이상우</h1>
        <div class="list-group">
            <ul class="list-group list-group-flush">
                <p>으쌰으쌰 자신감이 나를 먹여살린다!</p>
                <p><a target="_blank" href="https://velog.io/@lswoo0705"> https://velog.io/@lswoo0705 </a></p>
            </ul>
        </div>
    </div>
    <div class="box">
        <img src="https://velog.velcdn.com/images/lswoo0705/post/26d39abf-b750-4ddf-9fec-ccc910565c48/image.jpeg"
             class="img" alt="...">
        <div class="cards" style="width: 60rem;">
            <div class="card-body">
                <h5 class="card-title">MBTI</h5>
                <p class="card-text">저는 I도 많이 섞여있는 ESFJ입니다.</br>
                                    사람들이 불러주면 무조건 달려나가는 성격이지만 때로는 집에서 혼자 보내는 시간도 소중하답니다.</br>
                                    </p>
            </div>
            <hr class="line">
            <div class="card-body">
                <h5 class="card-title">장점</h5>
                <p class="card-text">누구보다도 다른 사람의 말을 잘 들어줄 수 있는 편안함</br>
                                    누구에게나 능글맞게 다가갈수있는 뻔뻔함</p>
            </div>
            <hr class="line">
            <div class="card-body">
                <h5 class="card-title">협업 스타일</h5>
                <p class="card-text">최대한 모든 사람의 의견을 존중하지만 필요할 때는 결단력있게 결정하는 스타일</p>
            </div>
            <hr class="line">
            <div class="card-body">
                <h5 class="card-title">TMI</h5>
                <p class="card-text">취미는 얼마전까지만해도 게임하는걸 엄청 좋아했는데 한동안 안하다보니 가끔 하는정도가 되더라구요.</br>
                                    최근엔 친구따라서 테니스를 몇번 쳐봤는데 재능이 보이는거같아 흥미가 올라가고있습니다.</p>
            </div>
        </div>
    </div>
<div class="cheers">
    <button onclick="open_box()">방명록 남기기</button>

</div>
    <div class="comment-form" id="comment-box">
        <div class="form-floating">
            <input id="name" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
            <label for="name">이름</label>
        </div>
        <div class="form-floating">
            <textarea id="comment1" class="form-control" placeholder="Leave a comment here"></textarea>
            <label for="comment1">댓글</label>
        </div>
        <div class="register_btns">
            <button onclick="post_comment()" type="button" class="btn3 btn-dark">등록</button>
            <button onclick="close_box()" type="button" class="btn2 btn-outline-dark">닫기</button>
        </div>
    </div>
 <div class="comment-list">
        <div class="card">
            <div class="card-header">
                <p id="total-comment"></p>
            </div>
            <div id="comments-box" class="card-body">

            </div>
        </div>
    </div>



    <div class="comment">
        <div class="input-group mb-3">
            <input id="comment" type="text" class="form-control" placeholder="방명록" aria-label="Recipient's username"
                   aria-describedby="button-addon2">
            <button onclick="save_commentSW()" class="btn" type="button" id="button-addon2">남기기</button>
        </div>


        <div class="mycards" id="comment_box">

        </div>

    </div>


</body>
</html>