<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

        <link href="{{ url_for('static', filename='Profile.css') }}" rel="stylesheet">

        <script src="{{ url_for('static', filename='Profile.js') }}" > </script>

    <title>팀원 소개 페이지_<각자이름></title>
</head>

<script>
    $(document).ready(function () {
            show_commentsYJ();
        });
</script>
<body>
    <div class="mytitle">
        <h1 class="display-1">진용재</h1>
        <div class="list-group">
            <ul class="list-group list-group-flush">
                <p>언젠가 대성한 개발자가 되었으면...</p>
                <p><a href="https://velog.io/@dripmaster44"> 블로그 주소 </a></p>
            </ul>
        </div>
    </div>
    <div class="box">
        <img src="https://velog.velcdn.com/images/dripmaster44/post/fbead192-9d15-4a43-9cfb-06ca6091ce09/image.jpg"
             class="img" alt="...">
        <div class="cards" style="width: 60rem;">
            <div class="card-body">
                <h5 class="card-title">나의 MBTI</h5>
                <p class="card-text">ISFP입니다. 나가서 친구를 만나는 일도
                저에게는 일이 된답니다.</p>
            </div>
            <hr class="line">
            <div class="card-body">
                <h5 class="card-title">나의 장점</h5>
                <p class="card-text">성격이 굉장히 유한 편입니다. 그래서 남들과 갈등이 잘 생기지 않아요.</p>
            </div>
            <hr class="line">
            <div class="card-body">
                <h5 class="card-title">나의 협업 스타일</h5>
                <p class="card-text">팀을 이끄는 능력은 없지만, 무언가 일이 있으면
                그 일에 대해서 굉장히 많은 생각을 하고, 해결하려고 노력한답니다.</p>
            </div>
            <hr class="line">
            <div class="card-body">
                <h5 class="card-title">TMI</h5>
                <p class="card-text">굉장히 낯을 심하게 가려서 먼저 다가와 주셨으면 좋겠습니다.</p>
            </div>
        </div>
    </div>

    <div class="comment">
        <div class="input-group mb-3">
            <input id="comment" type="text" class="form-control" placeholder="방명록" aria-label="Recipient's username"
                   aria-describedby="button-addon2">
            <button onclick="save_commentYJ()" class="btn" type="button" id="button-addon2">남기기</button>
        </div>

        <div class="mycards" id="comment_box">

        </div>

    </div>


</body>
</html>